body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


.container h2 {
    text-align: center;
    margin: 0px;
}

header h1 {
    text-align: center;
    margin: 0px ;
    
}

.reponses {
    background-color: #8CB5E6 ;
    border: 4px #8CE4E6;
    border-radius: 15px;
    padding: 15px ;
    margin: 20px auto;  /* Pour que la largeur s'ajuste au contenu */
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.reponses:hover {
  background: #007bff;
  transform: scale(1.1);
}

.hero {
    background-color: #C7DAF2;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.flemme {
    margin-top: 30px ;
}
.flemme h4{
    margin: 5px ;
    font-size: 20px ;
}
.flemme p{
    margin: 5px ;
    margin-top: 0px ;
}
.grille {
    display: flex ;
    flex-wrap: wrap;
    gap: 20px ;
    justify-content: space-between;
}
@media (max-width: 650px) {
    
    .grille {
        grid-template-columns: 1fr; 
        max-width: 100%; 
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

#carte{
    width: 45%;
    margin: 5px ;
    border: 2px solid #8CE4E6;
    border-radius: 15px;
    padding: 15px ;
    margin: 20px auto;
    display: inline-block;

}

#infos-importantes {
    background-color: #ffc;
    padding: 15px;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ffc107;
    padding: 15px;
    text-align: left;
}

#infos-importantes h7 {
    margin-top: 0;
    font-size: 30px;
}